/* *{} Universal Selector  */

/* h1{color: brown;} Element Selector */

/* #myId{color: blue;} // Id Selector */

/* .myClass{color: green;} // Class Selector */

/* Practice 1 */
#box{
    background-color: blue;
}

.heading{
    color: red;
}

.btnClass{
    background-color: green;
    cursor: pointer;
}

p {
    text-align: center;
}

h2{
    text-align: center;
}

#one{
    font-family: arial;
}

#two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}